*, html, body {
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-width: 240px;
    background-color: #FBEAFF;
}

#content-container {
    position: absolute;
    top: 96px;
    left: 256px;
    right: 0;
    max-width: 744px; /* 768px - 24px for margin */
    margin-right: 24px;
    padding-bottom: 128px;
}

/* BLOCKCHAIN DISPLAY */
#sidebar {
    display: none; /* hidden until all transactions are loaded in */
    direction: rtl; /* move scrollbar to left side */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    max-width: 240px;
    border-right: 1px #B4A7B7 solid;
    background-color: #4E4351;
    color: white;
    z-index: 100;
}
/* hide scrollbar
.transactions-container::-webkit-scrollbar {
    display: none;
} */
#transactions-header {
    direction: ltr; /* move scrollbar to left side */
    padding: 26px 16px 8px;
    border-bottom: 1px #B4A7B7 solid;
    text-align: center;
}
.transaction {
    direction: ltr; /* move scrollbar to left side */
    cursor: pointer;
    padding: 16px;
    border-bottom: 1px #B4A7B7 solid;
}
.transaction:hover {
    background-color: #665B69;
}
.transaction.active {
    background-color: #665B69;
}
.transaction > .status {
    text-align: right;
    margin-bottom: 4px;
}
/* END BLOCKCHAIN DISPLAY */

/* NAVBAR */
nav {
    position: fixed;
    max-width: 744px;
    width: 100%;
    top: 16px;
    left: 256px;
    right: 24px;
    z-index: 100;
}
#left-nav {
    float: left;
}
.nav-link {
    cursor: pointer;
    margin-right: 16px;
    padding: 8px 16px;
    display: inline-block;
    background-color: #4E4351;
    color: white;
    border-radius: 16px;
    border: 1px #B4A7B7 solid;
}
nav > ul > li:hover {
    background-color: #665B69;
}
/* END NAVBAR */

/* WALLET DISPLAY */
#balance-container {
    position: fixed;
    top: 16px;
    right: 32px;
    padding: 8px 16px;
    text-align: right;
    background-color: #4E4351;
    color: white;
    border-radius: 16px;
    border: 1px #B4A7B7 solid;
    z-index: 1000;
}
#wallet-info {
    margin-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    display: none;
}
.wallet-address {
    margin-bottom: 16px;
    font-size: small;
}
.wallet-secret {
    position: relative;
    max-width: 100%;
    max-width: calc(100% - 8px); /* accounts for border */
}
.cover-up {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #4E4351;
}
.show {
    cursor: pointer;
    margin-left: auto;
}
/* END WALLET DISPLAY */

/* POP UP MENU */
#menu-container {
    float: right;
    font-size: larger;
    text-align: center;
    color: white;
    z-index: 1000;
}
#menu-container.open {
    width: 256px;
    background-color: #4E4351;
    border-radius: 16px;
    border: 1px #B4A7B7 solid;
}
#menu-button {
    cursor: pointer;
    position: relative;
    transform: translate(-1px, -1px);
    padding: 8px 16px;
    background-color: #4E4351;
    border-radius: 16px;
    border: 1px #B4A7B7 solid;
}
#menu-button > i {
    pointer-events: none;
}
.open #menu-button {
    width: 256px;
    padding: 16px 0;
    /*padding-left: 0;*/
    /*padding-right: 0;*/
    border-radius: 16px 16px 0 0;
    /*border: none;*/
}
#menu-button:hover {
    background-color: #665B69;
}
#open-text {
    display: none;
}
#menu-popup {
    display: none;
}
.open #menu-popup {
    display: block;
}
#menu-popup li {
    cursor: pointer;
    padding: 16px 0;
    border-bottom: 1px #B4A7B7 solid;
}
#menu-popup li:last-of-type {
    border-bottom: none;
    border-radius: 0 0 16px 16px;
}
#menu-popup li:hover {
    background-color: #665B69;
}
/* END POP UP MENU */

/* large monitors+ */
@media only screen and (min-width: 1280px) {
    #content-container {
        position: relative;
        top: 0;
        left: 0;
        margin: 96px auto 0;
    }
    nav {
        width: 744px;
        left: 50%;
        left: 50vw;
        right: auto;
        transform: translateX(-50%);
    }
}

/* laptops+ */
@media only screen and (min-width: 1024px) {
    html {
        overflow-x: hidden;
    }
    body {
        width: 100vw; /* prevent scroll bar from moving content */
    }
    #menu-container {
        display: none;
    }

}

/* tablets- */
@media only screen and (max-width: 1023px) {
    #content-container {
        position: relative;
        top: 0;
        left: 0;
        margin: 96px auto 0;
    }
    nav {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        font-size: large;
    }
    #left-nav {
        display: none;
    }
    #sidebar {
        display: none !important;
    }
    #balance-container {
        display: none;
    }
    .mobile-text {
        display: block !important;
    }
    .non-mobile-text {
        display: none;
    }
}

/* landscape phones- */
@media only screen and (max-width: 900px) {
    #content-container {
        width: 90%;
    }
    nav {
        width: 90%;
    }
    #wallet-container {
        overflow-x: scroll;
    }
    #transaction-container {
        overflow-x: scroll;
    }
}

/* phones- */
@media only screen and (max-width: 600px) {
    #menu-container {
        font-size: x-large;
    }
}

/* HOME PAGE */
#homepage-banner {
    font-size: x-large;
    margin-top: 0;
}
section {
    margin-top: 32px;
}
.header {
    font-size: x-large;
    margin-bottom: 8px;
}
.big-letter {
    font-size: 2em;
    margin-right: 2px;
}
img#hippow1 {
    position: absolute;
    top: 24px;
    right: 0;
}
img#hippow2 {
    width: 512px;
    max-width: 100%;
}
/*img#hippow3 {
    float: right;
    margin-right: 200px;
    width: 256px;
}*/
#hippow3-container {
    margin: 0;
    height: 64px;
}
.justify-center {
    display: flex;
    justify-content: center;
}
#equation-image {
    width: 160px;
    margin-bottom: 8px;
}
#equation-subtext {
    text-align: center;
}
.mobile-text {
    display: none;
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
    img#hippow1 {
        top: 48px;
        width: 50vw;
    }
}
@media only screen and (max-width: 600px) {
    #homepage-banner {
        width: 120px;
        overflow: visible;
        margin-left: auto;
        margin-right: auto;
    }
    img#hippow1 {
        position: static;
        top: 0;
        left: 0;
        right: auto;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 64px;
        margin-bottom: 32px;
    }
    img#hippow2 {
        width: 80%;
        margin-top: 32px;
        margin-bottom: 32px;
    }
}
/*@media only screen and (min-width: 768px) and (max-width: 1023px) {
    img#hippow1 {
        top: 32px;
    }
}*/
/*@media only screen and (min-width: 768px) and (max-width: 900px) {
    #homepage-banner {
        font-size: large;
    }
}*/
/* END HOME PAGE */

/* SEND PAGE */
#send-container {
    max-width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
}
#send-form {
    max-width: 100%;
}
h3 {
    margin-bottom: 32px;
    text-align: center;
    font-size: x-large;
}
#to {
    margin-bottom: 16px;
}
#fee {
    text-align: right;
    font-size: small;
    margin-top: 2px;
    margin-bottom: 8px;
}
input {
    max-width: 100%;
    width: 512px;
}
#send-button {
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    padding: 8px 16px;
    background-color: #4E4351;
    color: white;
    font-size: medium;
    border-radius: 16px;
    border: 1px #B4A7B7 solid;
}
#send-button:hover {
    background-color: #665B69;
}
button {
    cursor: pointer;
    padding: 4px 8px;
    background-color: #4E4351;
    color: white;
    font-size: small;
    border-radius: 16px;
    border: 1px #B4A7B7 solid;
}
button:hover {
    background-color: #665B69;
}
#send-error {
    display: none;
    margin-top: 8px;
    max-width: 100%;
    width: 512px;
    color: red;
}
/* END SEND PAGE */

/* INFO PAGE */
#info-container {
    display: none;
}
iframe {
    max-width: 100%;
}
/* END INFO PAGE */

/* SETTINGS PAGE */
#settings-container {
    display: none;
}
.small {
    font-size: small;
}
#server-list {
    margin-bottom: 8px;
    max-width: 100%;
    max-width: calc(100% - 8px);
    width: 512px;
}
#server-list-info {
    margin-bottom: 4px;
}
#server-submit, #import-submit {
    font-size: medium;
}
#import-submit {
    margin-top: 4px;
}
#import-header {
    margin-top: 64px;
}
#private-key {
    margin-bottom: 8px;
    max-width: 100%;
    max-width: calc(100% - 8px);
}
#import-error {
    display: none;
    margin-top: 8px;
    color: red;
}
/* END SETTINGS PAGE */

/* WALLET CONTAINER */
#wallet-container {
    display: none;
    padding-bottom: 16px;
}
#wallet-container section:first-of-type {
    margin-top: 0;
}
#wallet-container .wallet-address {
    max-width: 100%;
}
#wallet-container .cover-up {
    background-color: #FBEAFF;
}
/* END WALLET CONTAINER */

/* BLOCKCHAIN CONTAINER */
#blockchain-container {
    display: none;
}
#blockchain-container #transactions-header {
    padding-top: 0;
    font-size: x-large;
}
#blockchain {
    width: 240px;
    margin: 0 auto;
}
#blockchain-container .transaction:hover {
    background-color: #E1D2E5;
}
/* END BLOCKCHAIN CONTAINER */


/* TRANSACTION DISPLAY CONTAINER */
#transaction-container {
    padding-bottom: 16px;
    display: none;
}
#secret-form {
    max-width: 512px;
}
#secret {
    max-width: 256px;
}
.secret-info {
    margin-bottom: 16px;
    max-width: 768px;
}
.secret-info:last-of-type {
    margin-bottom: 32px;
}
#result {
    margin-top: 4px;
    height: 32px;
}
#confirmed-container {
    margin-bottom: 8px;
}
#genesis-container {
    margin-bottom: 32px;
}
#image-container {
    margin-bottom: 32px;
    width: 512px;
    max-width: 100%;
}
#image-container > img {
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    #menu-container {
        font-size: x-large;
    }
    #secret {
        max-width: 90%;
        width: 90%;
        max-width: calc(100% - 8px);
        width: calc(100% - 8px);
        margin-bottom: 16px;
    }
    button {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: medium;
    }
}
/* END TRANSACTION DISPLAY CONTAINER */

.clearfix {
    overflow: auto;
}

.no-select {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.fa-check-circle {
    color: #00C9B9;
}

.fa-exclamation-circle {
    color: #EEAB8E;
}

/* adjust the words next to a icon so that they're in line with other words */
.adjust-left {
    padding-right: 3px;
}
